.footer{
    margin-top:100px;
    background:#0F172A;
    color:white;
    padding:70px 20px 30px;
}

.footer-container{
    max-width:1200px;
    margin:auto;
    text-align:center;
}

.footer h2{
    font-size:38px;
    color:#38BDF8;
    margin-bottom:15px;
}

.footer p{
    color:#CBD5E1;
    line-height:1.8;
}

.footer-links{
    display:flex;
    justify-content:center;
    gap:30px;
    margin:35px 0;
    flex-wrap:wrap;
}

.footer-links a{
    text-decoration:none;
    color:white;
    transition:.3s;
}

.footer-links a:hover{
    color:#38BDF8;
}

.socials{
    display:flex;
    justify-content:center;
    gap:25px;
    margin-bottom:35px;
    flex-wrap:wrap;
}

.socials a{
    text-decoration:none;
    color:white;
    padding:10px 20px;
    border:1px solid #38BDF8;
    border-radius:30px;
    transition:.3s;
}

.socials a:hover{
    background:#38BDF8;
    color:#0F172A;
}

.footer hr{
    border:1px solid rgba(255,255,255,.15);
    margin:30px 0;
}

.copy{
    color:#94A3B8;
    font-size:14px;
}

@media(max-width:768px){

.footer-links,
.socials{
    flex-direction:column;
    gap:15px;
}

}