.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:18px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(15,23,42,0.85);
    backdrop-filter:blur(15px);
    z-index:1000;
    box-shadow:0 5px 20px rgba(0,0,0,.3);
}

.logo h2{
    color:#fff;
    font-size:30px;
    font-weight:700;
}

.logo span{
    color:#38BDF8;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:17px;
    font-weight:500;
    transition:.3s;
}

nav ul li a:hover{
    color:#38BDF8;
}

.hire-btn{
    background:linear-gradient(45deg,#3B82F6,#8B5CF6);
    border:none;
    color:white;
    padding:12px 28px;
    border-radius:30px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
    transition:.3s;
}

.hire-btn:hover{
    transform:translateY(-4px);
    box-shadow:0 10px 20px rgba(59,130,246,.4);
}

@media(max-width:768px){

.header{
    flex-direction:column;
    gap:15px;
}

nav ul{
    gap:15px;
    flex-wrap:wrap;
    justify-content:center;
}

}